/* styles.css */
/* a lot of research was done to make this specific style!*/

* {
	font-family: Arial;
}


  body {
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg, #161616, #747373);
            font-family: 'Arial Black', Impact, sans-serif;
			height: 100vh;
            display: flex;
            align-items: center;
            padding-inline: 30%;
  }
  

h1 {
			position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: none;
			left: 56%;
			color: #fff;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 62.5%;
			left: 31%;
		}

h2 {
			position: absolute;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #000000;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 40%;
			left: 31%;
		}

h3 {
			position: absolute;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 38%;
			left: 31%;
		}
a {
			position: absolute;
			top: 28.5%;
			font-family: "Instrument Serif", serif;
			font-size: 90px;
			font-weight: none;
			left: 50.5%;
			color: #fff;
			-webkit-text-stroke: 1.5px #4d4c4c;
			text-align: center;
			transform: skewY(-10deg);
			gap: 10px;
			top: 47.5%;
			left: 45%;
}

p {
			position: absolute;
			top: 25%;
			  font-family: "Instrument Serif", serif;
			font-size: 44px;
			font-weight: none;
			left: 56%;
			color: #fff;
			text-align: center;
			transform: skewY(7deg);
			gap: 10px;
			top: 27%;
			left: 54%;
		}

b { 
			position: absolute;
			top: 25%;
			  font-family: "Instrument Serif", serif;
			font-size: 85px;
			font-weight: none;
			left: 56%;
			color: #fff;
			text-align: center;
			transform: skewY(7deg);
			gap: 10px;
			top: 32%;
			left: 49.5%;
		}
.button-menu {
			position: absolute;
			display: flex;
			flex-direction: column;
			gap: 10px;
			top: 50%;
			left: 37.7%;
			transform: translate(-50%, -50%);
		}



.menu-button {
			background-color: #2c2b2b;
			color: #fff;
			border: none;
			padding: 20px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
		}

.menu-button-sec {
			background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 20px 100px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
			 font-family: "Instrument Serif", serif;
			opacity: 0.8;
			transform: skewX(-30deg);
			transform: skewY(5deg);
		}

.menu-button:hover {
			background-color: #080808;
			opacity: 1;
		}

.menu-button-sec:hover {
			background-color: #080808;
			opacity: 1;
		}
		

.return-button:hover {
			background-color: #080808;
			opacity: 1;
		}

.return-button {
			background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 10px 95px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 30px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			left: 100.7%;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 74.5%;
			left: 60%;
		}

.return-button:hover {
			background-color: #080808;
			opacity: 1;
		}
	
.synopsis {
		background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 8px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 37%;
			left: 31%;
}

.releasedate {
		background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 8px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 52%;
			left: 31%;
}

.reason {
		background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 8px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 60%;
			left: 31%;
}

.blackmemory {
		background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 40px 230px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 170px;
			text-align: left;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(15deg);
			transform: skewY(-2deg);
			position: absolute;
			gap: 10px;
			top: 18%;
			left: 28.5%;
}

h5 {
		background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 8px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 54%;
			left: 56%;
}

h6 {
		background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 8px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 44%;
			left: 53%;
}

h4 {
	background-color: #6e6d6d;
			color: #fff;
			border: none;
			padding: 8px 125px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 50px;
 			font-family: "Instrument Serif", serif;
			opacity: 0.85;
			transform: skewX(-20deg);
			transform: skewY(-10deg);
			position: absolute;
			gap: 10px;
			top: 31%;
			left: 55%;
}

sy {
	position: absolute;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: right;
			transform: skewY(-10deg);
			gap: 10px;
			top: 40%;
			left: 52%;
}

rl {
	position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: right;
			transform: skewY(-10deg);
			gap: 10px;
			top: 62.5%;
			left: 55%;
}

dt {
	position: absolute;
			top: 28.5%;
			font-family: "Instrument Serif", serif;
			font-size: 90px;
			font-weight: none;
			left: 50.5%;
			color: #fff;
			-webkit-text-stroke: 1.5px #4d4c4c;
			text-align: center;
			transform: skewY(-10deg);
			gap: 10px;
			top: 52.5%;
			left: 43%;
}

rrs {
	position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 61%;
			left: 31%;
}

rrsn {
	position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			background-color: #000000;
			opacity: 0.85;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 61%;
			left: 31%;
}

rrsnd {
	position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 64%;
			left: 31%;
}

rrsnn {
	position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			background-color: #000000;
			opacity: 0.85;
			text-align: left;
			transform: skewY(-10deg);
			gap: 10px;
			top: 42%;
			left: 31%;
}

syn {
	position: absolute;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: right;
			transform: skewY(-10deg);
			gap: 10px;
			top: 38.5%;
			left: 54%;
}

rsn {
	position: absolute;
			top: 25%;
			font-size: 55px;
			font-family: "Instrument Serif", serif;
			font-weight: bold;
			left: 56%;
			color: #fff;
			text-align: right;
			transform: skewY(-10deg);
			gap: 10px;
			top: 63%;
			left: 53.5%;
}
